.wrap {
  display: block;
  width: 100vw;
  position: relative;
  top: 0;
  background-color: none;
}

.itemlist {
  font-size: 23px;
  padding: 0 4% 0 5%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bi-insta::before {
  vertical-align: middle;
  content: "";
  background-image: url("https://www.instagram.com/static/images/ico/favicon.ico/36b3ee2d91ed.ico");
  background-size: cover;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 5px;
}

.logodiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.pagediv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.logoitem {
  object-fit: contain;
  max-width: 250px;
}

.pdivitem {
  text-decoration: none;
  color: #c5d2dc;
  margin: 0 20px 0 20px;
}

.pdivitem:hover {
  color: white;
}

.hamburgerdiv {
  display: none;
  z-index: 101;
}

.hamburgermenu {
  position: fixed;
  top: 0;
  left: 35%;
  z-index: 100;
  width: 80vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  display: grid;
  justify-content: left;
  align-items: left;
  overflow: hidden;
}

.burgerblack {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.hamburgermenulist {
  margin: 30px 0 0 0px
}

.paneltitle {
  font-size: 40px;
  font-weight: bold;
  margin: 30px 0 30px 25px;
  color: purple;
}

.hamburgermenuitem {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0 10px 12.5px;

}

.instaham {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  position: absolute;
  bottom: 2%;
}

.ham-insta::before {
  vertical-align: middle;
  content: "";
  background-image: url("https://www.instagram.com/static/images/ico/favicon.ico/36b3ee2d91ed.ico");
  background-size: cover;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0 10px 0 25px;
}

@media (max-width: 900px) {
  .pagediv {
    display: none;
  }

  .hamburgerdiv {
    display: block;
  }
}