.homediv {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(99, 9, 121, 1) 36%,
    rgba(89, 0, 255, 1) 100%
  );
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  height: 2000px;
  width: 100%;
  overflow: hidden;
}

.alldiv {
  background: rgba(21, 23, 25, 0.7);
  position: inherit;
  height: inherit;
  width: inherit;
}

.background {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.titletextdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  width: 100vw;
  animation: fadeInUp 1s ease backwards;
}

.title {
  color: #d9e3ea;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 10px;
}

.titleexp {
  color: #9ba9b4;
  font-size: 23px;
}

.titlebtndiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.developbtn {
  border: 1px solid #33363a;
  border-radius: 2px;
  background-color: #33363a;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s;
  width: 180px;
  height: 50px;
}

.developbtn:hover {
  background-color: #25282c;
  border: 1px solid #25282c;
}

.aboutbtn {
  border: 1px solid #5d5dff;
  border-radius: 2px;
  background-color: #5d5dff;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s;
  width: 180px;
  height: 50px;
}

.aboutbtn:hover {
  background-color: #4b4acf;
  border: 1px solid #4b4acf;
}

.thumbnaildiv {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.thumbnail {
  width: 65vw;
  object-fit: contain;
}

.playbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 50%;
  width: 8%;
  opacity: 0.7;
}

.titlevid {
  margin-top: 60px;
  width: 75vw;
  object-fit: contain;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInUp {
  0% {
    transform: translate(0px, 30px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}
